<div class="btn-group" role="group" aria-label="Basic example" v-bind='food' style="float: right">
  <button type="button" class="btn btn-outline-secondary" @click="increase(food.id)">+</button>
  <button type="button" class="btn btn-outline-secondary">{{ food.number }}</button>
  <button type="button" class="btn btn-outline-secondary" @click="decrease(food.id)">-</button>
</div>