<!doctype html>
<html>
  <head>
    <title>Favourites</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <%- include('../partials/navbar'); %>
    <div id="app">
      <div class="spinner-border" role="status" v-if="(foods.lenght === 0)">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div v-else>
        <div v-for="food in foods">
          <div v-if="(food.favourite === true)">
            <%- include('../partials/card'); %>
          </div>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="/app.js"></script>
  </body>
</html>